/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

/* navbar */

.navbar {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-size: 24px;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}

.logo {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -6px;
  text-transform: uppercase;
}

.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 30px;
}

.navbar-nav-right img {
  margin-right: 10px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

/* hero */
.hero {
  background: url(img/hero1.jpg) no-repeat center center/cover;
  color: #fff;
  align-items: center;
}

.hero-content {
  padding: 280px 0;
  text-align: center;
}
.text-xl {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-hero {
  background: #000;
  color: #fff;
}

.btn-hero a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.btn-hero:hover {
  opacity: 0.99;
}

/* paragraph */
.para1 {
  padding: 50px;
  text-align: center;
}

.paragraph1 {
  padding: 10px 400px;
  font-size: 30px;
  font-weight: bold;
  color: darkslategrey;
}

.parah {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

/* image */
.img {
  background: url(img/hero.jpg) no-repeat center center/cover;
  height: 500px;
}

.btn-dark {
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 12px 40px;
}

.btn-dark a {
  background: #000;
  color: #fff;
}

.btn-dark:hover {
  opacity: 0.9;
}

/* footer */

.footer {
  background: #000;
  color: #fff;
  width: 100%;
  height: auto;
  padding: 70px 200px;
}

.footer a {
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 80px;
  height: 80px;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer1 {
  padding: 0 10px;
}
.footer2 {
  padding: 0 10px;
}

.footerh3 {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.icons {
  padding-top: 20px;
}

/* media queries */
@media (max-width: 1024px) {
  .paragraph1 {
    padding: 10px 120px;
  }
}

@media (max-width: 786px) {
  .paragraph1 {
    padding: 10px 100px;
    font-size: 24px;
  }

  .footer {
    padding: 70px 100px;
  }
}

@media (max-width: 376px) {
  /* navbar */
  .navbar-nav-left li {
    display: none;
  }

  /* hero */
  .hero-content {
    padding: 200px 0;
    text-align: center;
  }
  .paragraph1 {
    padding: 10px;
    font-size: 18px;
  }

  .parah {
    font-size: 30px;
  }

  /* footer */
  .footer {
    padding: 40px 40px;
  }

  .footer-container {
    display: block;
  }

  .footer1 {
    padding: 0px;
  }

  .footerh3 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
