*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0,0,0,0.3);
    font-family: "Poppins",sans-serif;
}
h1{
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: 600;
}
.buttons{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin-right: 10px;
}
.buttons a:hover{
    background-color: #fff;
    color: black;
}
.background-clip{
    z-index: -1;position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}